# 5.  Sets in python

* Sets are unordered, but you can remove items and add new items
* Sets elements are unique. Duplicate elements are not allowed.
* A sets itself may be modified, but the elemets contained in the set 
* must be of an immutable type.

* Sets are used to store multiple items in single variables.
* You can denote a set with a pair of curly brackets {}.

In [1]:
# The empty of curly braces denotes empty dictionary, not empty set
x={}
print(type(x))

<class 'dict'>

In [2]:
# To take a set without element, use set() function without any items.
y=set()
print(type(y))

<class 'set'>

In [5]:
# Take a set
set1={"Hello Python",3.14,1.618,'Hello World',3.14,1.618,True, False,2022}
set1

{1.618, 2022, 3.14, False, 'Hello Python', 'Hello World', True}

In [6]:
set2=["Hello Python",3.14,1.618,'Hello World',3.14,1.618,True, False,2022]

#Convert the list to set

set3=set(set2)
set3

{1.618, 2022, 3.14, False, 'Hello Python', 'Hello World', True}

In [9]:
#Addition of an element to the set.

set4={"Hello Python",3.14,1.618,'Hello World',3.14,1.618,True, False,2022}
set4.add("Hello Everyone")
set4

{1.618,
 2022,
 3.14,
 False,
 'Hello Everyone',
 'Hello Python',
 'Hello World',
 True}

In [12]:
x_set={"Hello Everyone",2,5,6,10}
print(x_set)
x_set.update({3,4,5})
x_set

{2, 5, 6, 'Hello Everyone', 10}

{10, 2, 3, 4, 5, 6, 'Hello Everyone'}

In [17]:
# ("Apple","Boy","Cat","Dog"),[200,100]
x_set1={"Hello Everyone",2,5,6,10}
x_set1.update({("Apple","Boy","Cat","Dog")})
x_set1

{('Apple', 'Boy', 'Cat', 'Dog'), 10, 2, 5, 6, 'Hello Everyone'}

In [19]:
x_set3={"Hello Everyone",2,5,6,10}
x_set3.remove("Hello Everyone")
x_set3

{2, 5, 6, 10}

# Logical operations in sets

In [20]:
# Take two sets
set4=({"Hello Python!",3.14,1.618,"Hello World"})
set5=set([3.14,1.618,True, False,2022])

#Printing two sets
set4,set5

({1.618, 3.14, 'Hello Python!', 'Hello World'},
 {False, True, 1.618, 3.14, 2022})

# To find the intersect of two sets using &

In [21]:
intersection=set4&set5
intersection

{1.618, 3.14}

In [22]:
set4.intersection(set5)

{1.618, 3.14}

# difference() function

In [26]:
print(set4.difference(set5))
print(set5.difference(set4))

print(set4-set5)
print(set5-set4)

{'Hello World', 'Hello Python!'}
{False, True, 2022}
{'Hello World', 'Hello Python!'}
{False, True, 2022}