# Loops in Python

* A for loop is used for iterating over a sequence (that is either a list,
* a tuple, a dictionary, a set, or a string)
* The for loop does not require an existing an indexing variable to set beforehead
* With the for loop we can execute a set of statements, once for each item in a list, tuples, set etc.
* With the while loop we can execute a set of statements as long as a condition is true
* Note: remember to increment i, or else the loop will continue forever.
* The while loop requires relevant variables to be ready, in this example we need to define indexing variable, i, which we set to 1.

In [14]:
# Take a range() function

print(range(5))

print(range(10))

print(range(1000))

range(0, 5)
range(0, 10)
range(0, 1000)

In [15]:
# As a example
years=[2005,2006,2008,2009,2007,2010]

for i in years:
    print(i)

2005
2006
2008
2009
2007
2010

In [16]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [17]:
# Step value in loops
for i in range(2,12,3):
    print(i)

2
5
8
11

In [18]:
language=["jave","python","Java Script","C","C++","PHP","Ruby on rails"]

for i in range(len(language)):
    print("Before language",i,"is", language[i])
    language[i]="flutter"
    print("After language",i,"is", language[i])

Before language 0 is jave
After language 0 is flutter
Before language 1 is python
After language 1 is flutter
Before language 2 is Java Script
After language 2 is flutter
Before language 3 is C
After language 3 is flutter
Before language 4 is C++
After language 4 is flutter
Before language 5 is PHP
After language 5 is flutter
Before language 6 is Ruby on rails
After language 6 is flutter

In [19]:
# Take the number between -3 and 6 using loops
# use range() function
for i in range(-3,7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [20]:
# write a table of 3 using for loops
# Step value in loops
for i in range(3,33,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [22]:
number1=int(input("Enter a number"))
print("The entered number is", number1)
for i in range(1,11):
    print("%d x %d = %d" %(number1,i,number1*i))

Enter a number25
The entered number is 25
25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250

In [23]:
x=int(input("Enter the value of A: "))

for i in range(x, x*11,x):
    print(i)

Enter the value of A: 20
20
40
60
80
100
120
140
160
180
200

# Addition and average calculations in for loops

In [24]:
nlis=[0.577,2.718,3.147,1729,6,37]

# write a for loop for addition
count=0
for i in nlis:
    count+=i
print("The total number of in the nlis is ",count)

The total number of in the nlis is  1778.442

In [25]:
lis=[0.577,2.718,3.147,1729,6,45,25,50]
c=0
for i in lis:
    c+=i
print ("The total no in list is",c)

The total no in list is 1861.442

In [ ]:
nlis1=[125, 45, 65, 78, 12.0, 58, -45, 1000.0 , -45, 89]

In [26]:
lis=[125,45,65,78,12.0,58,-45,1000.0,-45,89]
count1=0
for i in lis:
    count1+=i
print("total",count1)
print("average",count1/len(lis))

total 1382.0
average 138.2

In [27]:
lis2=[0.577,2.718,-3.147,1729,6,45,-25,50,1000]
c2=0
for i in lis2:
    c2+=i
print("the total sum is :",c2)
print("the total avg is :",c2/len(lis2))

the total sum is : 2805.148
the total avg is : 311.68311111111115

In [28]:
ab=[125, 45, 65, 78, 12, 0.58, -45, 1000.0, -45, 89]

# write a for loop for addition
count=0
for i in ab:
    count+=i
print("The total number of in the ab is : ", count)
print("The average of total number is : ", count/len(ab))

The total number of in the ab is :  1324.58
The average of total number is :  132.458

In [29]:
lis=[125,45,65,78,12.0,58,-45,1000.0,-45,89]
count1=0
for i in lis:
    count1+=i
print("total",count1)
print("average",count/i)

total 1382.0
average 14.882921348314605

In [30]:
w=[125,45,65,12.0,58,-45,1000.0,-45,89,10]
count=0
for i in w:
    count+=i
print("The total number of w is " , count)
print("The total number of w is " , count/len(w))

The total number of w is  1314.0
The total number of w is  131.4

# Nested Loops

In [31]:
num=int(input("Enter a number"))
print(f'The enterd number is {num}.')

i,j=0,0
for i in range(0,num):
    print()
    for j in range(0,i+1):
        print('*',end="")

Enter a number20
The enterd number is 20.

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************

In [32]:
# Write a program to  Your name and prints 3 letter for each times using nested loops
name=input("Enter your name")
number=['1', '2', '3']
i,j=0,0
for i in name:
    print(i)
    for j in number:
        print(j)

Enter your name13
1
1
2
3
3
1
2
3

In [33]:
v=str(input("Enter the name: \n"))
print ("The entered no is {}".format(v))
v2="Hello World"
i,j=0,0
for i in v:
    print (i)
    for j in v2:
        print(j)

Enter the name:
vivek
The entered no is vivek
v
H
e
l
l
o

W
o
r
l
d
i
H
e
l
l
o

W
o
r
l
d
v
H
e
l
l
o

W
o
r
l
d
e
H
e
l
l
o

W
o
r
l
d
k
H
e
l
l
o

W
o
r
l
d

In [34]:
# Take a list #break
nlis=[1,2,4,5,6,7,8,9,10,11,12,13,14]

for i in nlis:
    if i==10:
        break
    print(i)

1
2
4
5
6
7
8
9

In [35]:
# continue
nlis=[1,2,4,5,6,7,8,9,10,11,12,13,14]

for i in nlis:
    if i==5:
        continue
    print(i)

1
2
4
6
7
8
9
10
11
12
13
14

In [36]:
# Nidhi
n3=int(input("Enter the no: \n"))
print ("The entered no is {}".format(n3))
if n3%2==0:
    print ("The no is even {}.".format(n3))
else:
    print ("The no is odd.")

Enter the no:
20
The entered no is 20
The no is even 20.

In [37]:
# siddhant
A=int(input("Enter Number:"))
if A%2==0:
    print("Number is Even")
else:
    print("Number is Odd")

Enter Number:13
Number is Odd

In [38]:
# write a program to check whether a number is prime or not.
k=0
num1=int(input("Enter any number"))
k=1
for i in range(2,num1):
    if num1%i==0:
        k=1
elif k==1:
    print("This number is not prime")
else:
    print("Number is prime")

SyntaxError: invalid syntax (Temp/ipykernel_3348/896484366.py, line 8)

In [ ]:
# write a program to check whether a number is divisible by 2 and 3 both.

In [39]:
n3=int(input("Enter the no: \n"))
print ("The entered no is {}".format(n3))
if n3>1:
    for i in range (2,n3):
        if n3%i==0:
            
            print (i,"times",n3//i, "is", n3)
            print ("It is not a prime no.",n3)
else:
    "Print prime number"

Enter the no:
15
The entered no is 15
3 times 5 is 15
It is not a prime no. 15
5 times 3 is 15
It is not a prime no. 15

In [40]:
var=int(input("enter number"))

if var%2==0:
    print("divisible by 2")
elif var%3==0:
    print("divisible by 3")
else:
    print("wrong number")

enter number20
divisible by 2

In [42]:
z=int(input("Enter Number : "))
if z%2==0 and z%3==0:
    print("The number is divisible by 2 and 3.")
else:
    print("The number is not divisible")

Enter Number : 23
The number is not divisible

In [43]:
lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
  
print ("The Prime Numbers in the range are: ")  
for number in range (lower_value, upper_value + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

Please, Enter the Lowest Range Value: 33
Please, Enter the Upper Range Value: 16
The Prime Numbers in the range are:

In [ ]:
# write a program to accept percentage and display the category 
# according to the followint criteria:

# percentage------------------------->Category
# <40 -------------------------------> "failed"
# >=40 and <55-----------------------> "fair"
# >=55 and <65----------------------->"Good"
# >=65------------------------------->"Excellent"

In [44]:
# Siddhant
# write a program to accept percentage and display the category 
# according to the followint criteria:

# percentage------------------------->Category
# <40 -------------------------------> "failed"
# >=40 and <55-----------------------> "fair"
# >=55 and <65----------------------->"Good"
# >=65------------------------------->"Excellent"

A=int(input("Enter the first number"))

if A<40:
    
    print("You Are Failed :",A)
    
elif A>=40 and A<=55:
    print("Fair :",A)

elif A>=55 and A<=65:
    print("Good :",A)
    
elif A>=65:
    print("Excellent :",A)

Enter the first number45
Fair : 45

In [45]:
# Nidhi
n2=int(input("Enter the no: \n"))
print ("The entered no is {}".format(n2))
if n2<40:
    print ("You have Failed the exam.")
elif n2>=40 and n2<55:
    print("Your result is Fair.")
elif n2>=55 and n2<65:
    print("Your result is Good.")
elif n2>=65:
    print("Your result is Excellent.")

Enter the no:
48
The entered no is 48
Your result is Fair.

In [46]:
#Vivek
# Write a program to accept percentage and display the category according to the following criteria:
 
# Percentage-----------------------------> Category
# <40 -----------------------------------> "failed"
# >=40 and <55 --------------------------> "fair"
# >=55 and <65 --------------------------> "Good"
# >=65 ----------------------------------> "Excellent"

A=int(input("Enter the Percentage :" ))
if A<40: 
    print("The Percentage is : Failed")

elif A>=40 and A<55:
    print("The Percentage is : Fair")
    
elif A>=55 and A<65:
    print("The Percentage is : Good")
    
elif A>=65:
    print("The Percentage is : Excelllent")

Enter the Percentage :56
The Percentage is : Good

In [47]:
# Rishi

x=int(input("enter no:"))
if x<40:
    print("faild")
elif x>=40 and x<55:
    print("fair")
elif x>=55 and x<65:
    print("good")
elif x>=65:
    print("excellent")

enter no:45
fair

# While Loop

* The while loop exists as a tool for repeated execution based on a condition.
* The code will keep being executed until the given condition returns a False boolean value.

In [48]:
# Take an example:
i=22
while i<27:
    print(i)
    i+=1

22
23
24
25
26

In [49]:
i=1
while i<51:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [50]:
# Take an example
years=[2005,2006,2007,2008,2009,2010,2011]

index=0
year=years[0]

while year !=2011:
    print(year)
    index+=1
    year=years[index]
    
print('It gives us only',index,'repetitions to get out of loop')

2005
2006
2007
2008
2009
2010
It gives us only 6 repetitions to get out of loop

In [51]:
# Print the movie rating greater than 5.
movie_rating=[8.0,7.5,5.4,9.1,6.6,6.5,2.1,4.8,3.3]
index=0
rating=movie_rating[0]

while rating>=5.0:
    print(rating)
    index+=1
    rating=movie_rating[index]
print(index)

8.0
7.5
5.4
9.1
6.6
6.5
6

In [52]:
# Nidhi
mv=[8.0,7.5,5.4,9.1,6.3,6.5,2.1,4.8,3.3]
ind1=0
mv1=mv[0]
while mv1>=5:
    print (mv1)
    ind1+=1
    mv1=mv[ind1]
print(ind1)

8.0
7.5
5.4
9.1
6.3
6.5
6

In [5]:
# Write a table of 10 using while loop
number1=10
print(f"The entered numbers are {number1}.")
i=1
while i<=10:
    print(('%d x %d = %d' %(number1,i,number1*i)))
    i+=1

The entered numbers are 10.
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [6]:
#nidhi
n=int(input("Enter the no: \n"))
print ("The entered no is", n)
ind3=0
while ind3 in range (0, 11):
    ind3+=1
    print ("%d x %d= %d" %(n,ind3,n*ind3,))

Enter the no:
12
The entered no is 12
12 x 1= 12
12 x 2= 24
12 x 3= 36
12 x 4= 48
12 x 5= 60
12 x 6= 72
12 x 7= 84
12 x 8= 96
12 x 9= 108
12 x 10= 120
12 x 11= 132

In [3]:
f=['banana','apple','banana','orange','cherry','Grapes']
ind2=0
while ind2 in range (1):
    f.append("Strawberry")
    ind2+=1
print (f)

['banana', 'apple', 'banana', 'orange', 'cherry', 'Grapes', 'Strawberry']

In [8]:
# Write a table of 10 using while loop
number1=10
print(f"The entered numbers are {number1}.")
i=1
while i<=10:
    print(('%d x %d = %d' %(number1,i,number1*i)))
    i+=1

The entered numbers are 10.
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [10]:
i=0
while i<=5:
    print(i)
    i+=1
print('It gives the number 0 to 5')

0
1
2
3
4
5
It gives the number 0 to 5

In [13]:
i=0
while i<=5:
    print(i,end=" ")
    i+=1
print('It gives the number 0 to 5')

0 1 2 3 4 5 It gives the number 0 to 5