# 9. Functions in Python

* A Function is a group of related statement that performs a specific task.
* Functions helps break our programs into smaller and module chunks.
* There are two types of module.
* 1. Pre-defined functions.
* 2. User-defined functions.
* In python a function is defined using the def keyword followed by the functions name and 
* Parenthesis().
* Keyword def that marks the start of the function header.
* Functions naming follow the same rule of writing identifiers in Python.
* A colon (:) marks the end of the function header.
* An optional return statement to return a value from the functions.

In [4]:
# Take a functions sample
# Mathematical operations in a functions

def process(x):
    y1=x-8
    y2=x+8
    y3=x/8
    y4=x%8
    y5=x//8
    y6=x*8
    print(f"If you make the above operations with {x}, the result will be {y1},{y2},{y3},{y4},{y5},{y6}.")
    return y1,y2,y3,y4,y5,y6
process(10)

If you make the above operations with 10, the result will be 2,18,1.25,2,1,80.

(2, 18, 1.25, 2, 1, 80)

In [5]:
help(process)

Help on function process in module __main__:

process(x)

In [8]:

help(process)

Help on function process in module __main__:

process(x)

In [9]:
process(3.14)

If you make the above operations with 3.14, the result will be -4.859999999999999,11.14,0.3925,3.14,0.0,25.12.

(-4.859999999999999, 11.14, 0.3925, 3.14, 0.0, 25.12)

In [10]:
process(14)

If you make the above operations with 14, the result will be 6,22,1.75,6,1,112.

(6, 22, 1.75, 6, 1, 112)

In [11]:
process(50)

If you make the above operations with 50, the result will be 42,58,6.25,2,6,400.

(42, 58, 6.25, 2, 6, 400)

In [13]:
def multi(x,y):
    z=2*x+5*y+45
    return z
multi(3.14,1.618)

59.370000000000005

In [14]:
multi(10,20)

165

In [15]:
multi(100,50)

495

In [16]:
#nidhi
def add(x,z):
    y1=x+z
    print (f"The above operation with {x},{z} the result will be {y1}")
    return y1
add (20,10)

The above operation with 20,10 the result will be 30

30

In [17]:
# Write a program to add a numbers using function.

def add(a,b):
    c=a+b
    return c
output=add(2,3)
print(output)

5

In [18]:
def add(a,b):
    c=a+b
    return c
add(10,20)

30

In [19]:
def add(x,y,p):
    z=x+y+p
    return z
add(3.14,1.168,50)

54.308

In [20]:
add(45,45,45)

135

In [22]:
#nidhi
def add(x,y,z):
    y1=x+z+y
    print (f"The above operation with {x},{z},{y} the result will be {y1}")
    return y1
output=add (20,10,30)
print(output)

The above operation with 20,30,10 the result will be 60
60

In [24]:
# Vivek   # Write a program to add 3 numbers using function.

def add(a,b,c):
    d=a+b+c
    return d
output=add(20,10,30)
print(output)

60

In [26]:
# Define a function
def function(x):
    
    #Take a local variable
    y=3.147
    z=3*x+1.618*y
    print(f'If you make the above operations with {x}, the result will be {z}.')
    return z

function(10)

If you make the above operations with 10, the result will be 35.091846000000004.

35.091846000000004

In [27]:
#  Define a Function 
def function(x):
    
    # Take a local variable
    y=20
    z=x+y
    print(f"If you make the above operations with {x}, the result will be {z}.")
    return z

function(10)

If you make the above operations with 10, the result will be 30.

30

In [28]:
function(20)

If you make the above operations with 20, the result will be 40.

40

In [29]:
#nidhi
def fnct2(x1):
    y2=20
    z1=3*x1+1.618*y2
    print (f"The above operation with {x1},{y2} the result will be {z1}")
    return z1
fnct2 (10)

The above operation with 10,20 the result will be 62.36

62.36

In [30]:
# Vivek # Define a function

def function(x):
    
    # Take a local variable
    y=20
    z=(x*3)+(y*1.618)
    print(f'If you make the above operations with {x}, the result will be {z}.')
    return z

function(10)

If you make the above operations with 10, the result will be 62.36.

62.36

In [34]:
# Define a function with and without return statement
def msg1():
    print("Hello World")
def msg2():
    print("Hello Python")
    return None
    
    
msg1()
msg2()

Hello World
Hello Python

# Concatenation with function

In [44]:
def string(x,y,z):
    return x+y+z

string("Hello"," ""World","Hi")

'Hello WorldHi'

In [48]:
string('xyz',' ''abc')

TypeError: string() missing 1 required positional argument: 'z'

In [46]:
string(3,5,2)

10

In [47]:
string(21.0,21.0,21.0)

63.0

In [49]:
def fnct2(x1):
    y2=20
    z1=x1+y2
    print (f"The above operation with {x1},{y2} the result will be {z1}")
    return z1
fnct2 (10)

The above operation with 10,20 the result will be 30

30